.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

h2, h3 {
  margin: 10px auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h2 {
  font-size: 2.5rem;
}

.nav-list {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  color: #61dafb;
  margin: 10px auto;
  padding: 10px;
}

.list {
  margin: 20px auto;
  padding: 20px;
  background-color: #282c34;
}

li {
  list-style: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
